.app-name {
    margin-right: 2%;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button-padding {
    margin: 0% 1% 0% 1%;
}

.empty-space {
    flex: 1 1 auto;
}
